body {
  margin: 0;
  padding: 0;
  font-size: 18px
}

.container{
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 450px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #0099ff;
  margin-bottom: 20px;
}